<% layout('layout') -%>

<head>
   <script src="/js/jquery.min.js"></script>
   <script src="/js/verifyUser.js" type="text/javascript" charset="utf-8"></script>
   <script src="/js/profilePage.js" type="text/javascript" charset="utf-8"></script>
</head>


<div class="container">

  <div class="row">

    <div class="col-md-8">
      <h2 class="text-center">Users to Review</h2>
      <table class="table table-striped sticky-header">
        <thead>
          <tr>
            <th>User's Name</th>
            <th>Email</th>
          </tr>
          <tbody>

            <% for(var i = 0; i<alluserstochange.length; i++) {%>
              <tr>

                     <td><%= alluserstochange[i].name %></td>
                     <td><%= alluserstochange[i].email%></td>
                     <td><button name="verifyButton" type="button" class="open-verifyDialog btn btn-success" data-id="<%=alluserstochange[i].name %>" data-email="<%=alluserstochange[i].email %>">Make Developer</button></td>
                     <td><button name="rejectButton" type="button"class=" open-rejectDialog btn btn-danger" data-id="<%=alluserstochange[i].name %>" data-email="<%=alluserstochange[i].email %>">Reject</button></td>
              </tr>

         <%
       } %>
       <div  id="verifyUserfeedback" class="modal fade" role="dialog" aria-hidden="true">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div style="background: #088DA5;color:#fff" class="modal-header">
                           <b>Message</b>
                   </div>
                    <div class="modal-body">
                      <p id="statusofApprovement">S</p>

                   </div>
                    <div id="modal-footer"  class="modal-footer">
                         <button type="button" class="btn btn-default" onclick="redirect()">Close</button>
                   </div>
               </div>
           </div>
       </div>


       </tbody>
      </thead>
      </table>

    </div>

    </div>
    </div>
