<%
if(user){
var count=0;
for(var i=0;i<user.notifications.length;i++)
       if(user.notifications[i].read===false)
      {  count++;}
}
%>

<nav  class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!-- <a class="navbar-left" href="#"> -->
        <img class="navbar-left" src="/img/logoheader.png" />
      <!-- </a> -->
    </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
                     <li><a  href="/"><span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
                     <li><a href="/about">
                        <span class="glyphicon glyphicon-info-sign"
                         aria-hidden="true"></span> About</a></li>
                    <li><a href="/contactus"><i class = "fa fa-envelope-o"></i> Contact</a></li>
      </ul>

    <ul class="nav navbar-nav navbar-right">

     <% if(!user) { %>
      <li><a  href="/getin">Signup / Login</a>
     </li>
     <% } else if(user.email=="teamwhitetrident@gmail.com"){ %>
    <li>  <a href="/notifications"><i class = "fa fa-bell-o"></i><span style="display:none" id="notificationsBadge"  class="badge"> <%=count%></span></a></li>
   <li><a id="ausername" style="color:#fff" class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name+ " " %><span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="/addNotification">Notify Users</a></li>
         <li><a href="/add-template">Add template</a></li>
          <li><a href="/add-language">Add Language</a></li>
         <li><a href="/logout">Logout</a></li>
       </ul>
     </li>
     <li>
       <%
          var src=user.profile.picture;
          if(src.charAt(11)=='v'||src==''){
        %>
        <div class="profilepic" id="profilepic-small" >A</div>
        <%
      }else{
        <img class="img-circle img-responsive img-center" src="<%= user.profile.picture %>" alt ="">
      }

        %>
     </li>

     <% } else if(user.role=="others"){ %>


       <li>  <a href="/notifications"><i class = "fa fa-bell-o"></i><span style="display:none" id="notificationsBadge"  class="badge"> <%=count%></span><span class="hov">Notifications</span></a></li>
       <li><a id="ausername" class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name + " " %><span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="/profile">Profile</a></li>
          <li><a href="/aceEditor">Editor</a></li>
         <li><a href="/logout">Logout</a></li>
       </ul>
     </li>
     <li>
       <%
          var src=user.profile.picture;
          if(src.charAt(11)=='v'||src==''){
        %>
        <div class="profilepic" id="profilepic-small" >A</div>
        <%
      }else{
        <img class="img-circle img-responsive img-center" src="<%= user.profile.picture %>" alt ="">
      }

        %>
     </li>
<% } else  { %>

        <li>  <a href="/notifications"><i class = "fa fa-bell-o"></i><span style="display:none" id="notificationsBadge"  class="badge"> <%=count%></span><span class="hov">Notifications</span></a></li>

<li><a id="ausername" class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.profile.name + " " %><span class="caret"></span></a>


<ul class="dropdown-menu">
  <li><a href="/profile">Profile</a></li>
   <li><a href="/aceEditor">Editor</a></li>
   <li><a  href="/add-code">Add Templates</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>
</li>
<li>
  <%
     var src=user.profile.picture;
     if(src.charAt(11)=='v'||src==''){
   %>
   <div class="profilepic" id="profilepic-small" >A</div>
   <%
 }else{
   <img class="img-circle img-responsive img-center" src="<%= user.profile.picture %>" alt ="">
 }
   <!-- consumer helpline 1800114000 -->
   %>
</li>
  <% } %>
    </ul>

  </div>
</div>
</nav>
