<% layout('layout') -%>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-select.min.css">
    <script src="/js/jquery.min.js"></script>

  </head>

 <div class="container">
      <div class="row row-content">
           <div class="btn-group pull-right" style="margin:0px 0px 0px 0px;">
          <button class="btn btn-primary" onclick="compile()">Compile</button>
           <button class="btn btn-primary" onclick="run()">Run</button>
          <button class="btn btn-primary" onclick="saveTextAsFile()">Download Code</button>
                    <a href="/addNotification" class="btn btn-primary" >Give Suggestions</a>
          </div>
          <div>
              <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"  >
                    <a href="#c" aria-controls="c"
                     role="tab" data-toggle="tab" id = "ansi_c" onclick="myfunc()" >C</a></li>
                    <li role="presentation"><a href="#cpp"
                     aria-controls="cpp" role="tab"
                     data-toggle="tab" id = "cpp_11" onclick="myfunc()">CPP</a></li>
                    <li role="presentation"><a href="#java"
                     aria-controls="java" role="tab"
                     data-toggle="tab" id = "java__" onclick="myfunc()">JAVA</a></li>
                    <li role="presentation"><a href="#python"
                     aria-controls="python" role="tab"
                     data-toggle="tab" id = "python__" onclick="myfunc()">PYTHON</a></li>
             </ul>

           <div  id="editor" class="col-sm-8" style="border-right:1px solid black">
            </div>
         <div  class="tab-content col-sm-4" style="height:500px">


            <div role="tabpanel" class="tab-pane fade in active" id="c" value="C">
              <select   data-live-search="true"  class="form-control selectpicker" name="ctype" id="clanguage" onchange="handleDD()">
             <option value="">Select Code Template</option>
            <% for(var i=0; i<templates.length;i++) {
              if(templates[i].language.toLowerCase()=='c'){ %>
            <option value="<%= templates[i].code %>" id="<%= templates[i]._id %>"><%= templates[i].name %></option>

            <% }
          } %>
              </select>

            </div>
           <div role="tabpanel" class="tab-pane fade " id="cpp" value="CPP" >
             <select  name="cpptype" data-live-search="true"  class="form-control selectpicker" id="cpplanguage" onchange="handleDD()" >
                          <option value="">Select Code Template</option>
             <% for(var i=0; i<templates.length;i++) {
               if(templates[i].language.toLowerCase()=='cpp'){ %>
             <option value="<%= templates[i].code %>" id="<%= templates[i]._id %>"><%= templates[i].name %></option>
             <% }
           } %>
             </select>


           </div>
        <div role="tabpanel" class="tab-pane fade " id="java" value="JAVA">
              <select name="jtype" data-live-search="true"  class="form-control selectpicker" id="javalanguage" onchange="handleDD()">
              <option value="">Select Code Template</option>
            <% for(var i=0; i<templates.length;i++) {
              if(templates[i].language.toLowerCase()=='java'){ %>
            <option value="<%= templates[i].code %>" id="<%= templates[i]._id %>"><%= templates[i].name %></option>
            <% }
          } %>
            </select>

            </div>
            <div role="tabpanel" class="tab-pane fade " id="python" value="PYTHON">
              <select name="ptype" data-live-search="true"  class="form-control selectpicker" id="pythonlanguage" onchange="handleDD()">
              <option value="">Select Code Template</option>
              <% for(var i=0; i<templates.length;i++) {
                if(templates[i].language.toLowerCase()=='python'){ %>
              <option value="<%= templates[i].code %>" id="<%= templates[i]._id %>"><%= templates[i].name %></option>
              <% }
            }%>
              </select>


            </div>
         </div>

          </div>

 <div class="col-xs-12 col-sm-4 second">
              <h3>Output:</h3>
              <h5 id="output-container"></h5>
          </div>
      </div>
</div>

 <script> $("button").click(function() {
    $('html,body').animate({
        scrollTop: $(".second").offset().top},
        'slow');
});</script>

         <script src="/src/ace.js" type="text/javascript" charset="utf-8"></script>

    <script src="/js/editorscript.js" type="text/javascript" charset="utf-8"></script>
