<% layout('layout') -%>
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-select.min.css">
    <script src="/js/jquery.min.js"></script>

  </head>
 <div class="container">
   <%if(!user){%>
      <div class="mid">
        <button id="checkmissing" class="btn  btn-lg" style="margin:10px; color:#fff">Checkout what you are missing</button>
        <a href="/getin" class="btn btn-warning btn-lg" style="margin:10px">Signup now for more features!!</a>
      </div>
      <div  id="checkmissingmodal" class="modal fade" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div style="background: #088DA5;color:#fff" class="modal-header">
                          <b>You are missing</b>
                  </div>
                   <div style="color:#ffa500" class="modal-body">
                     <ul>
                       <li><h3>A lot of templates.</h3></li>
                       <li><h3>Download code on your machine.</h3></li>
                       <li><h3>Got a better approach? Give suggestions for any template.</h3></li>
                       <li><h3>If you are developer, contribute with your code snippets.</h3></li>
                   </ul>

                  </div>
                   <div class="mid modal-footer">
                        <a href="/getin" type="button" class="btn btn-primary">Signup</a>
                  </div>
              </div>
          </div>
      </div>
      <%}%>
      <div class="row row-content" style="margin:30px 0px 0px 0px">
           <div class="btn-group pull-right" style="margin:0px 25px 0px 0px;">
          <button class="button btn btn-primary btn-sm" onclick="compile()"><span class="glyphicon glyphicon-th-large"></span> Compile</button>
          <button class="button btn btn-primary btn-sm" onclick="run()"><span class="glyphicon glyphicon-play"></span> Run</button>
            <%if(user){%>   <button class="button btn btn-primary btn-sm" onclick="saveTextAsFile()"><span class="glyphicon glyphicon-cloud-download"></span> Download Code</button><%}%>
            <button onclick="reset()" class="btn btn-primary btn-sm"><i class="fa fa-refresh"></i> Reset</button>

          </div>
          <div>
              <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"  >
                    <a href="#c" aria-controls="c"
                     role="tab" data-toggle="tab" id = "ansi_c" onclick="myfunc()" >C</a></li>
                    <li role="presentation"><a href="#cpp"
                     aria-controls="cpp" role="tab"
                     data-toggle="tab" id = "cpp_11" onclick="myfunc()">CPP</a></li>
                    <li role="presentation"><a href="#java"
                     aria-controls="java" role="tab"
                     data-toggle="tab" id = "java__" onclick="myfunc()">JAVA</a></li>
                    <li role="presentation"><a href="#python"
                     aria-controls="python" role="tab"
                     data-toggle="tab" id = "python__" onclick="myfunc()">PYTHON</a></li>
             </ul>

           <div  id="editor" class="col-sm-8" style="border-right:1px solid black">
            </div>
         <div  class="tab-content col-sm-4" style="height:500px">


            <div role="tabpanel" class="tab-pane fade in active" id="c" value="C">
              <select   data-live-search="true"  class="form-control selectpicker" name="ctype" id="clanguage" onchange="handleDD()">
             <option value="">Select Code Template</option>
            <% var loop=0;

            for(var i=0; i<templates.length;i++) {
              if(templates[i].language.toLowerCase()=='c')
              {
                      if(loop==4&&!user)
                      {
                          break;
                      }
                %>
            <option value="<%= templates[i].code %>" id="<%= templates[i]._id %>"><%= templates[i].name %></option>

            <% loop++; }
          } %>
          <%if(!user){%>
            <option disabled value="">signup for more templates...</option>
            <%}%>
              </select>

            </div>
           <div role="tabpanel" class="tab-pane fade " id="cpp" value="CPP" >
             <select  name="cpptype" data-live-search="true"  class="form-control selectpicker" id="cpplanguage" onchange="handleDD()" >
                          <option value="">Select Code Template</option>
             <% var loop=0;
              for(var i=0; i<templates.length;i++) {
               if(templates[i].language.toLowerCase()=='cpp'){
                 if(loop==4&&!user)
                 {
                     break;
                 }

                  %>
             <option value="<%= templates[i].code %>" id="<%= templates[i]._id %>"><%= templates[i].name %></option>
             <% loop++; }
           } %>
           <%if(!user){%>
             <option disabled value="">signup for more templates...</option>
             <%}%>
             </select>


           </div>
        <div role="tabpanel" class="tab-pane fade " id="java" value="JAVA">
              <select name="jtype" data-live-search="true"  class="form-control selectpicker" id="javalanguage" onchange="handleDD()">
              <option value="">Select Code Template</option>
            <% var loop=0;
            for(var i=0; i<templates.length;i++) {
              if(templates[i].language.toLowerCase()=='java'){

                if(loop==4&&!user)
                {
                    break;
                }


                %>
            <option value="<%= templates[i].code %>" id="<%= templates[i]._id %>"><%= templates[i].name %></option>
            <% loop++;}
          } %>
          <%if(!user){%>
            <option disabled value="">signup for more templates...</option>
            <%}%>
            </select>

            </div>
            <div role="tabpanel" class="tab-pane fade " id="python" value="PYTHON">
              <select name="ptype" data-live-search="true"  class="form-control selectpicker" id="pythonlanguage" onchange="handleDD()">
              <option value="">Select Code Template</option>
              <% var loop=0;
                for(var i=0; i<templates.length;i++) {
                if(templates[i].language.toLowerCase()=='python'){
                  if(loop==4&&!user)
                  {
                      break;
                  }

                   %>
              <option value="<%= templates[i].code %>" id="<%= templates[i]._id %>"><%= templates[i].name %></option>
              <% loop++; }
            }%>
            <%if(!user){%>
              <option disabled value="">signup for more templates...</option>
              <%}%>
              </select>


            </div>
 <% if(user){%>
             <a id="giveSuggestion" href="/addNotification" style="margin:430px 0 0 230px" class="btn btn-warning btn-sm" >Give Suggestions</a>
             <%}%>
         </div>
          </div>

 <div class="col-xs-12 col-sm-4 second">
              <h3>Output:</h3>
              <h5 id="output-container"></h5>
          </div>
      </div>
</div>
 <script> $(".button").click(function() {
    $('html,body').animate({
        scrollTop: $(".second").offset().top},
        'slow');
});</script>

         <script src="/src/ace.js" type="text/javascript" charset="utf-8"></script>

    <script src="/js/editorscript.js" type="text/javascript" charset="utf-8"></script>
